{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'home/styles.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%} {{ title }} {% endblock %}</title>
</head>


<body>
    <header class="header">
    <div class="logo"><span style="color: rgb(0, 0, 0);">YG</span><span style="color:#667085;">KH</span>
    </div>
    <nav class="navbar">
        <ul class="nav-links">
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{%url 'projects' %}">Projects</a></li>
            <li><a href="{%url 'contact' %}">Contact</a></li>
        </ul>
    </nav>
    </header>

    {% block content %}
        <br><br>
    {% endblock %}

</body>