{%extends 'base.html'%}
{% load static %}

{%block title%}
contact
{% endblock %}


{% block content %}
    <div class="grid-wrapper-project">
    </div>
    <br><br>
    <div class="header-project">
    <div class="header-project-header">
        <h1 style="font-size: 58px;font-family: sans-serif;font-weight:bolder;text-align: center;"><span style="color: #667085;">Get In </span>Touch</h1>
    </div>
    <div>
        <p style="color: #667085; font-family: sans-serif;text-align: center;">Whether you’re looking to discuss a new project, seek advice, or collaborate, I’m always excited to connect and explore new possibilities.</p>
        <br><br>
        
    </div>
    <div class="pill-spec-projects">
    <a href="{%url 'contact'%}" class="pill-special">Get In Touch</a>
    </div>
    <div class="condition" style="text-align: center;">
         <br><br>
    <br><br>
    <h5 style="font-family: sans-serif;font-size: 18px; color: #667085;font-weight: 700;">Or</h5>
    </div>
   
    
    </div>
{% endblock %}

