{% extends 'base.html' %}
{% load static %}

{%block title%} Home {% endblock %}

{%block content %}

<main class="hero-section">
    <div class="grid-wrapper">
        <img src="{% static 'home/1.jpg' %}" alt="Yeganeh Khayyat" class="profile-image">
    </div>

    <br><br>
    <div class="pill-container">
        <span class="pill">Backend developer</span>
        <span class="pill">Embbeded system designer</span>
        <span class="pill">Python developer</span>
    </div>
    <br><br>
    <h1 style="font-weight: 700;"><span style="color:#667085; font-family:sans-serif;font-size: 45px;">Yeganeh </span><span
            style="color:#000000; font-family:sans-serif;font-size: 45px;">Khayyat</span></h1>
    <p style="color: #667085; font-family: sans-serif;">+3 years experience in the backend projects</p>
</main>
<br><br>
<div class="pill-spec">
    <a href="{%url 'contact'%}" class="pill-special">Get In Touch</a>
</div>
<br><br>
<br><br>
<div class="framer">
    <h2 style="font-size: 36px;font-family: sans-serif; font-weight: 700;"><span
            style="color: #667085;font-family: sans-serif;font-size: 36px;">My </span>Journey</h2>
    <br><br>
    <div class="child-framer">
        <p style="font-family: sans-serif; font-size: 16px;color: #667085;font-weight: 500;">With more than three years
            of experience in the backend field, I am currently achieving the short-term goals I had in mind,
            now I am embarking on a bigger path and looking to learn the right skills.
            <br><br>
            Currently, personal projects have led to my growth and development in technology,
            and this path continues.
            <br><br>
            My interest in this field began when I was constantly seeking to implement my creative ideas in the field of
            technology and
            even daydreaming about my goals and trying to chart my path forward.
        </p>
    </div>
</div>
<br><br>
<div class="framer">

    <h2 style="font-size: 36px;font-family: sans-serif; font-weight: 700;">Education & <span
            style="color: #667085; font-size: 36px;font-family: sans-serif;">Courses</span>
    </h2>
    <br><br>
    <div class="child-framer">
        <div class="card">
            <div class="edu-card">
                <div class="edu-card-top">
                    <div class="edu-logo-box">
                        <img src="https://upload.wikimedia.org/wikipedia/fa/b/b1/Hakim_Sabzevari_University_Logo.png"
                            alt="University Logo" class="edu-logo">
                    </div>
                    <div class="edu-title-group">
                        <h4 class="edu-main-title" style="font-family: sans-serif;">Hakim sabzevari university</h4>
                        <span class="edu-subtitle" style="font-family: sans-serif;">Computer Engineering</span>
                    </div>
                </div>
                <div class="edu-card-divider"></div>



                <p
                    style="font-size: 12px; font-weight: 500; color: #666666; margin-bottom: 8px;font-family: sans-serif;">
                    Oct 2023 - Oct 2027</p>
                <p style="font-size: 14px; font-weight: 500; color: #667085;font-family: sans-serif;">Completed computer
                    engineering studies & core CS fundamentals.</p>
            </div>
        </div>
    </div>
</div>

<br><br>

<div class="framer">
    <h2 class="section-title" style="font-family: sans-serif;font-size: 36px;font-weight: 700;">
        Skill <span style="font-family: sans-serif; font-size: 36px;color: #667085;">Set</span>
    </h2>

    <div class="child-framer">
        <div class="skill-group">
            <h4 class="skill-category-title">Backend Development</h4>

            <div class="skill-tags-box">
                <span class="skill-tag">Python</span>
                <span class="skill-tag">Django</span>
                <span class="skill-tag">Flask</span>
                <span class="skill-tag">C languages</span>
                <span class="skill-tag">OOP</span>
                <span class="skill-tag">Aurdino</span>
                <span class="skill-tag">Telegram bots</span>
            </div>
        </div>

        <div class="skill-group">
            <h4 class="skill-category-title">Databases</h4>

            <div class="skill-tags-box">
                <span class="skill-tag">SQLite</span>
                <span class="skill-tag">Database Design</span>
            </div>
        </div>


        <div class="skill-group">
            <h4 class="skill-category-title">Frontend</h4>

            <div class="skill-tags-box">
                <span class="skill-tag">HTML</span>
                <span class="skill-tag">CSS</span>
                <span class="skill-tag">Django Templates</span>
            </div>
        </div>

        <div class="skill-group">
            <h4 class="skill-category-title">Tools & DevOps</h4>

            <div class="skill-tags-box">
                <span class="skill-tag">Git</span>
                <span class="skill-tag">GitHub</span>
                <span class="skill-tag">Command Line</span>
            </div>
        </div>

        <!-- Problem Solving -->
        <div class="skill-group">
            <h4 class="skill-category-title">Computer Science</h4>

            <div class="skill-tags-box">
                <span class="skill-tag">Data Structures</span>
                <span class="skill-tag">Algorithms</span>
                <span class="skill-tag">Problem Solving</span>
                <span class="skill-tag">Object-Oriented Programming</span>
                <span class="skill-tag">Debugging</span>
            </div>
        </div>

    </div>
</div>
<br><br>

<!-- Toolbox Section -->
<div class="framer" style="margin-top: 60px;">
    <h2
        style="font-size: 24px; font-weight: 600; color: #000; margin-bottom: 8px;text-align: center;font-family: sans-serif;font-size: 45px; font-weight: 700;">
        Development & Systems <span style="color: #667085;">Toolbox</span> </h2>
    <p style="color: #667085; font-size: 15px; margin-bottom: 30px;text-align: center;font-family: sans-serif;">
        Technologies, languages, and tools I use to build scalable systems.</p>

    <div
        style="display: flex; flex-wrap: wrap; gap: 16px; align-items: center; max-width: 800px;justify-content: center;margin-left: auto; margin-right: auto;">

        <!-- Python -->
        <div title="Python"
            style="width: 76px; height: 74px; background: #ffffff; border: 1px solid #eaecf0; border-radius: 16px; box-shadow: 0 2px 8px rgba(0,0,0,0.04); display: flex; justify-content: center; align-items: center; transition: all 0.2s ease; box-shadow: 0 0 4px #0000001a;">
            <i class="devicon-python-plain colored" style="font-size: 38px;"></i>
        </div>

        <!-- Django -->
        <div title="Django"
            style="width: 76px; height: 74px; background: #ffffff; border: 1px solid #eaecf0; border-radius: 16px; box-shadow: 0 2px 8px rgba(0,0,0,0.04); display: flex; justify-content: center; align-items: center; transition: all 0.2s ease;box-shadow: 0 0 4px #0000001a;">
            <i class="devicon-django-plain" style="font-size: 38px; color: #092E20;"></i>
        </div>

        <!-- Flask -->
        <div title="Flask"
            style="width: 76px; height: 74px; background: #ffffff; border: 1px solid #eaecf0; border-radius: 16px; box-shadow: 0 2px 8px rgba(0,0,0,0.04); display: flex; justify-content: center; align-items: center; transition: all 0.2s ease;box-shadow: 0 0 4px #0000001a;">
            <i class="devicon-flask-original" style="font-size: 38px; color: #000000;"></i>
        </div>

        <!-- C -->
        <div title="C"
            style="width: 76px; height: 74px; background: #ffffff; border: 1px solid #eaecf0; border-radius: 16px; box-shadow: 0 2px 8px rgba(0,0,0,0.04); display: flex; justify-content: center; align-items: center; transition: all 0.2s ease;box-shadow: 0 0 4px #0000001a;">
            <i class="devicon-c-plain colored" style="font-size: 38px;"></i>
        </div>

        <!-- C++ -->
        <div title="C++"
            style="width: 76px; height: 74px; background: #ffffff; border: 1px solid #eaecf0; border-radius: 16px; box-shadow: 0 2px 8px rgba(0,0,0,0.04); display: flex; justify-content: center; align-items: center; transition: all 0.2s ease;box-shadow: 0 0 4px #0000001a;">
            <i class="devicon-cplusplus-plain colored" style="font-size: 38px;"></i>
        </div>

        <!-- MySQL -->
        <div title="MySQL"
            style="width: 76px; height: 74px; background: #ffffff; border: 1px solid #eaecf0; border-radius: 16px; box-shadow: 0 2px 8px rgba(0,0,0,0.04); display: flex; justify-content: center; align-items: center; transition: all 0.2s ease;box-shadow: 0 0 4px #0000001a;">
            <i class="devicon-mysql-plain colored" style="font-size: 38px;"></i>
        </div>

        <!-- SQLite -->
        <div title="SQLite"
            style="width: 76px; height: 74px; background: #ffffff; border: 1px solid #eaecf0; border-radius: 16px; box-shadow: 0 2px 8px rgba(0,0,0,0.04); display: flex; justify-content: center; align-items: center; transition: all 0.2s ease;box-shadow: 0 0 4px #0000001a;">
            <i class="devicon-sqlite-plain colored" style="font-size: 38px;"></i>
        </div>

        <!-- Git -->
        <div title="Git"
            style="width: 76px; height: 74px; background: #ffffff; border: 1px solid #eaecf0; border-radius: 16px; box-shadow: 0 2px 8px rgba(0,0,0,0.04); display: flex; justify-content: center; align-items: center; transition: all 0.2s ease;box-shadow: 0 0 4px #0000001a;">
            <i class="devicon-git-plain colored" style="font-size: 38px;"></i>
        </div>

        <!-- VS Code -->
        <div title="VS Code"
            style="width: 76px; height: 74px; background: #ffffff; border: 1px solid #eaecf0; border-radius: 16px; box-shadow: 0 2px 8px rgba(0,0,0,0.04); display: flex; justify-content: center; align-items: center; transition: all 0.2s ease;box-shadow: 0 0 4px #0000001a;">
            <i class="devicon-vscode-plain colored" style="font-size: 38px;"></i>
        </div>

        <!-- Arduino -->
        <div title="Arduino"
            style="width: 76px; height: 74px; background: #ffffff; border: 1px solid #eaecf0; border-radius: 16px; box-shadow: 0 2px 8px rgba(0,0,0,0.04); display: flex; justify-content: center; align-items: center; transition: all 0.2s ease;box-shadow: 0 0 4px #0000001a;">
            <i class="devicon-arduino-plain colored" style="font-size: 38px;"></i>
        </div>

    </div>
</div>

</body>
{% endblock %}