{% extends 'base.html' %}
{% load static %}

{%block title%} Home {% endblock %}

{%block content %}

    <main class="hero-section">
        <div class="grid-wrapper">
            <img src="{% static 'home/1.jpg' %}" alt="Yeganeh Khayyat" class="profile-image">
        </div>
        
        <br><br>
            <div class="pill-container">
            <span class="pill">Backend developer</span>
            <span class="pill">Embbeded system designer</span>
            <span class="pill">Python developer</span>
        </div>
        <br><br>
        <h1><span style="color:#667085; font-family:sans-serif;font-size: 45px;">Yeganeh </span><span style="color:#000000; font-family:sans-serif;font-size: 45px;">Khayyat</span></h1>
        <p style="color: #667085; font-family: sans-serif;">+3 years experience in the backend projects</p>
        </main>
        <br><br>
        <div class="pill-spec">
            <a href="{%url 'contact'%}" class="pill-special">Get In Touch</a>
        </div>
        <br><br>
        <br><br>
        <div class="framer">
            <h2 style="font-size: 36px;font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;"><span style="color: #667085;font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;font-size: 36px;">My </span>Journey</h2>
            <br><br>
            <div class="child-framer">
            <p style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-size: 16px;color: #667085;font-weight: 500;">With more than three years of experience in the backend field, I am currently achieving the short-term goals I had in mind, 
                now I am embarking on a bigger path and looking to learn the right skills.
                <br><br>
            Currently, personal projects have led to my growth and development in technology,
             and this path continues.
             <br><br>
             My interest in this field began when I was constantly seeking to implement my creative ideas in the field of technology and
              even daydreaming about my goals and trying to chart my path forward.
            </p>
                </div>
        </div>
        <br><br>
        <div class="framer">
            
    <h2 style="font-size: 36px;font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">Education & <span style="color: #667085; font-size: 36px;font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">Courses</span>
    </h2>
    <br><br>
    <div class="child-framer">
<div class="edu-card">
    <div class="edu-card-top">
        <div class="edu-logo-box">
            <img src="https://upload.wikimedia.org/wikipedia/fa/b/b1/Hakim_Sabzevari_University_Logo.png" alt="University Logo" class="edu-logo">
        </div>
            <div class="edu-title-group">
            <h4 class="edu-main-title" style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">Hakim sabzevari university</h4>
            <span class="edu-subtitle" style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">Computer Engineering</span>
        </div>
    </div>
    <div class="edu-card-divider"></div>

<div class="card">

<p style="font-size: 12px; font-weight: 500; color: #666666; margin-bottom: 8px;font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">Oct 2023 - Oct 2027</p>
<p style="font-size: 14px; font-weight: 500; color: #667085;font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">Completed computer engineering studies & core CS fundamentals.</p>
</div>
</div>
</div>
</div>

<br><br>

<div class="framer">
    <h2 class="section-title" style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;font-size: 36px;">
        Skill <span style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-size: 36px;color: #667085;">Set</span>
    </h2>

    <div class="child-framer">
        <div class="skill-group">
            <h4 class="skill-category-title">Backend Development</h4>

            <div class="skill-tags-box">
                <span class="skill-tag">Python</span>
                <span class="skill-tag">Django</span>
                <span class="skill-tag">Flask</span>
                <span class="skill-tag">C languages</span>
                <span class="skill-tag">OOP</span>
                <span class="skill-tag">Aurdino</span>
                <span class="skill-tag">Telegram bots</span>
            </div>
        </div>

        <div class="skill-group">
            <h4 class="skill-category-title">Databases</h4>

            <div class="skill-tags-box">
                <span class="skill-tag">SQLite</span>
                <span class="skill-tag">Database Design</span>
            </div>
        </div>


        <div class="skill-group">
            <h4 class="skill-category-title">Frontend</h4>

            <div class="skill-tags-box">
                <span class="skill-tag">HTML</span>
                <span class="skill-tag">CSS</span>
                <span class="skill-tag">Django Templates</span>
            </div>
        </div>

        <div class="skill-group">
            <h4 class="skill-category-title">Tools & DevOps</h4>

            <div class="skill-tags-box">
                <span class="skill-tag">Git</span>
                <span class="skill-tag">GitHub</span>
                <span class="skill-tag">Command Line</span>
            </div>
        </div>

        <!-- Problem Solving -->
        <div class="skill-group">
            <h4 class="skill-category-title">Computer Science</h4>

            <div class="skill-tags-box">
                <span class="skill-tag">Data Structures</span>
                <span class="skill-tag">Algorithms</span>
                <span class="skill-tag">Problem Solving</span>
                <span class="skill-tag">Object-Oriented Programming</span>
                <span class="skill-tag">Debugging</span>
            </div>
        </div>

    </div>
</div>

        
</body>
{% endblock %}
