{%extends 'base.html'%}
{% load static %}

{%block title%}
Projects
{% endblock %}

{% block content %}
    <div class="grid-wrapper-project">
    </div>
    <br><br>
    <div class="header-project">
        <div class="pill-container">
        <span class="pill">Backend developer</span>
        <span class="pill">Embbeded system designer</span>
        <span class="pill">Python developer</span>
    </div>
    <div class="header-project-header">
        <h1 style="font-size: 58px;font-family: sans-serif;font-weight:bolder;text-align: center;"><span style="color: #667085;">My </span>Work</h1>
    </div>
    <div>
        <p style="color: #667085; font-family: sans-serif;text-align: center;">+3 years experience in the backend projects</p>
    </div>
    <div class="pill-spec-projects">
    <a href="{%url 'contact'%}" class="pill-special">Get In Touch</a>
    </div>
    </div>


{% endblock %}

